span.marvel {
  font-size: 4rem;
}

@keyframes moving-box {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  25% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  50% {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    top: 15%;
    left: 23%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.box {
  background-color: red;
  color: white;
  font-family: Marvel, sans-serif;

  height: 4rem;
  width: 10rem;

  text-align: center;

  animation-name: moving-box;
  animation-duration: 6s;

  position: absolute;
  top: 15%;
  left: 23%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
