body {
  background-image: linear-gradient(to right, black, black, black, transparent),
    url("../assets/images/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 140% 50%;
  overflow-x: hidden;
  overflow-y: hidden;
}
