*,
body,
html {
  margin: 0;
  padding: 0;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

body,
input,
textarea,
button {
  font-family: "Axiforma";
  font: 500 1rem;
}

h1 {
  font-size: 2rem;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Marvel";
  src: local("Marvel"), url(./assets/fonts/Marvel/MarvelRegular-Dj83.ttf);
}
@font-face {
  font-family: "Axiforma";
  src: local("Axiforma"),
    url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Black.otf);
  font-weight: 900;
}
@font-face {
  font-family: "Axiforma";
  src: local("Axiforma"),
    url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Bold\ Italic.otf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Book.otf);
  font-weight: 350;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Book\ Italic.otf);
  font-style: italic;
  font-weight: 350;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ ExtraBold.otf);
  font-weight: 800;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ ExtraBold\ Italic.otf);
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Heavy.otf);
  font-weight: 900;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Heavy\ Italic.otf);
  font-style: italic;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Italic.otf);
  font-style: italic;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Light\ Italic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Medium\ Italic.otf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ SemiBold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ SemiBold\ Italic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: "Axiforma";
  src: url(./assets/fonts/Kastelov/Kastelov\ -\ Axiforma\ Thin\ Italic.otf);
  font-style: italic;
  font-weight: 100;
}
